/* Caelestia Theme - userContent.css */
/* About pages styling (about:newtab, about:home, about:preferences, etc.) */

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #{{ onSurface.hex }} !important;
      --color-accent-primary: #{{ primary.hex }} !important;
      --color-accent-primary-hover: #{{ primary.hex }}99 !important;
      --color-accent-primary-active: #{{ primary.hex }}cc !important;
      background-color: #{{ surfaceContainer.hex }} !important;
      --in-content-page-background: #{{ surfaceContainer.hex }} !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #{{ surfaceContainer.hex }} !important;
      --newtab-background-color-secondary: #{{ surfaceContainerHigh.hex }} !important;
      --newtab-element-hover-color: #{{ surfaceContainerHigh.hex }} !important;
      --newtab-text-primary-color: #{{ onSurface.hex }} !important;
      --newtab-wordmark-color: #{{ onSurface.hex }} !important;
      --newtab-primary-action-background: #{{ primary.hex }} !important;
    }

    .icon {
      color: #{{ primary.hex }} !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      /* Replace zen-logo.svg with caelestia's logo in the same directory */
      background: url("zen-logo.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #{{ primary.hex }} !important;
    }

    .top-site-outer .search-topsite {
      background-color: #{{ primary.hex }} !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #{{ primary.hex }} !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #{{ surface.hex }} !important;
      --in-content-text-color: #{{ onSurface.hex }} !important;
      --link-color: #{{ primary.hex }} !important;
      --link-color-hover: #{{ primary.hex }}99 !important;
      --zen-colors-primary: #{{ surfaceContainerHigh.hex }} !important;
      --in-content-box-background: #{{ surfaceContainerHigh.hex }} !important;
      --zen-primary-color: #{{ primary.hex }} !important;
    }

    groupbox, moz-card {
      background: #{{ surfaceContainer.hex }} !important;
    }

    button,
    groupbox menulist {
      background: #{{ surfaceContainerHigh.hex }} !important;
      color: #{{ onSurface.hex }} !important;
    }

    .main-content {
      background-color: #{{ surface.hex }} !important;
    }

    .identity-color-blue {
      --identity-tab-color: #89b4fa !important;
      --identity-icon-color: #89b4fa !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #8bd5ca !important;
      --identity-icon-color: #8bd5ca !important;
    }

    .identity-color-green {
      --identity-tab-color: #a6da95 !important;
      --identity-icon-color: #a6da95 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #eed49f !important;
      --identity-icon-color: #eed49f !important;
    }

    .identity-color-orange {
      --identity-tab-color: #f5a97f !important;
      --identity-icon-color: #f5a97f !important;
    }

    .identity-color-red {
      --identity-tab-color: #ed8796 !important;
      --identity-icon-color: #ed8796 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #f5bde6 !important;
      --identity-icon-color: #f5bde6 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #c6a0f6 !important;
      --identity-icon-color: #c6a0f6 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #{{ surface.hex }} !important;
      --background-color-box: #{{ surfaceContainer.hex }} !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #{{ surfaceContainer.hex }} !important;
      --social-color: #{{ tertiary.hex }} !important;
      --coockie-color: #{{ secondary.hex }} !important;
      --fingerprinter-color: #{{ secondary.hex }} !important;
      --cryptominer-color: #{{ primary.hex }} !important;
      --tracker-color: #{{ primary.hex }} !important;
      --in-content-primary-button-background-hover: #{{ surfaceContainerHigh.hex }} !important;
      --in-content-primary-button-text-color-hover: #{{ onSurface.hex }} !important;
      --in-content-primary-button-background: #{{ surfaceContainerHigh.hex }} !important;
      --in-content-primary-button-text-color: #{{ onSurface.hex }} !important;
    }


    .card {
      background-color: #{{ surfaceContainerHigh.hex }} !important;
    }
  }
}